@model IEnumerable<CarServiceLibrary.Models.Entities.Orders>

@{
}
<div class="container py-5">
	<!-- Button trigger modal -->
	@*<button type="button"
	class="btn btn-danger"
	data-bs-toggle="modal"
	data-bs-target="#AddService">
	Добавить услугу
	</button>

	<button type="button"
	class="btn btn-danger"
	data-bs-toggle="modal"
	data-bs-target="#EditService">
	Редактировать услугу
	</button>*@
	<div class="d-flex flex-column">
		<h4>Действия</h4>
		<div>
			<a type="button" class="btn btn-danger" asp-controller="Admin" asp-action="DiagnosticAdminPanel">Диагностика</a>
			<a type="button" class="btn btn-danger" asp-controller="Admin" asp-action="MaintenanceAdminPanel">Обслуживание</a>
			<a type="button" class="btn btn-danger" asp-controller="Admin" asp-action="DetailingAdminPanel">Детейлинг</a>
			<button type="button" class="btn btn-danger" data-bs-toggle="modal"
					data-bs-target="#AddService">
				Добавить услугу
			</button>
		</div>

	</div>

	<div class="d-flex flex-column my-3">
		<h4>Список заявок</h4>
		<table class="table table-dark table-striped border-light">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Имя</th>
					<th scope="col">Телефон</th>
					<th scope="col">Услуга</th>
					<th scope="col">Марка/Модель</th>
					<th scope="col">Стоимость</th>
					<th scope="col">Статус</th>
					<th scope="col">Дата</th>

				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<th scope="row">@item.Id</th>
						<td>@item.UserName</td>
						<td>@item.User.TelephoneNumber</td>
						<td>@item.Service.ServiceName</td>
						<td>@item.Car.CarName / @item.CarModelName</td>
						<td>от @item.Service.Price</td>
						<td>@item.Status.StatusName</td>
						<td>@item.DateOrder</td>
					</tr>
				}
			</tbody>
		</table>
	</div>

	<!-- Modal AddService -->
	<div class="modal fade"
		 id="AddService"
		 tabindex="-1"
		 aria-labelledby="exampleModalLabel"
		 aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title"
						id="exampleModalLabel">
						Добавление услуги
					</h5>
					<button type="button"
							class="btn-close"
							data-bs-dismiss="modal"
							aria-label="Close">
					</button>
				</div>
				<div class="modal-body">
					<input type="text"
						   class="form-control my-2 py-2 fs-5"
						   id="name"
						   placeholder="Имя"
						   name="serviceName">
					<input type="text"
						   class="form-control my-2 py-2 fs-5"
						   id="name"
						   placeholder="Стоимость"
						   name="servicePrice">
					<input type="text"
						   class="form-control my-2 py-2 fs-5"
						   id="name"
						   placeholder="Изображение"
						   name="serviceImage">
					<input type="text"
						   class="form-control my-2 py-2 fs-5"
						   id="name"
						   placeholder="Описание"
						   name="serviceDesc">
					<select @*asp-for=""*@
							class="form-control my-2 py-2 fs-5"
							@*asp-items="@(new SelectList(ViewBag.ListofCars, "Value", "Text"))"*@
							name="serviceCategory">
					</select>
					<select @*asp-for=""*@
							class="form-control my-2 py-2 fs-5"
							@*asp-items="@(new SelectList(ViewBag.ListofCars, "Value", "Text"))"*@
							name="serviceType">
					</select>

				</div>
				<div class="modal-footer">
					<button type="button"
							class="btn btn-danger">
						Сохранить
					</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal EditService -->
	@*<div class="modal fade"
	id="EditService"
	tabindex="-1"
	aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
	<div class="modal-content">
	<div class="modal-header">
	<h5 class="modal-title"
	id="exampleModalLabel">
	Modal title
	</h5>
	<button type="button"
	class="btn-close"
	data-bs-dismiss="modal"
	aria-label="Close">
	</button>
	</div>
	<div class="modal-body">
	Редактировать услугу
	</div>
	<div class="modal-footer">
	<button type="button"
	class="btn btn-primary">
	Сохранить
	</button>
	</div>
	</div>
	</div>
	</div>*@
</div>